# Google OAuth Credentials
# Get your Client ID at https://console.cloud.google.com/apis/credentials
# Enable YouTube Data API v3 in https://console.cloud.google.com/apis/library
# Add http://127.0.0.1:3000 as Authorized JavaScript Origin and Redirect URI
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_API_KEY=
